// Include this file; keep the adjacent .frag file with it.
layout {
    focus-ring {
        on
        width 6
        shader {
            path "portal-lava.frag"
            padding 14
            draw-inside true
        }
    }
}
