// Include this file; keep the adjacent .frag file with it.
layout {
    focus-ring {
        on
        width 6
        shader {
            path "scribbling-pencils.frag"
            padding 28
            draw-inside true
        }
    }
}
